bg = #fdfdfd
font-color = #47525E
font-color-darken =  #222222
primary = #7E55F3
secondary = #8492A6

// TODO - dark theme
// define('bg', #222222, true)
// define('font-color', #ffffff, true)
// define('font-color-darken', #ffffff, true)
// define('primary', #7E55F3, true)
// define('secondary', #dddddd, true)
